.container {
  margin: 0 auto;
  max-width: 904px;
  width: 90vw;
}

.app__header {
  background: var(--background-900);
  margin-bottom: var(--spacer-xxlarge);
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--background-800);
}

.app__row {
  display: flex;
  gap: var(--spacer-medium);
}

.logo {
  height: var(--logo);
  will-change: filter;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
